.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.amatic {
  font-family: 'Amatic SC', sans-serif;
  font-size: 28pt;
}

.sacramento {
  font-family: Sacramento, sans-serif;
}

nav h1 {
  font-size: 64px;
}

#buttons {
  margin: 10px 0;
  list-style-type: none;
}

#buttons button {
  font-family: 'Amatic SC', sans-serif;
  font-size: 28pt;
  font-weight: bold;
}

nav, section {
  margin: 20px 0;
}

#results > div {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-style: italic;
}

html {
  text-align: center;
  height: 100%;
}

body {
  background: url('kindergarten_writing_paper_background_tiled.jpg');
}
